body{
  font-family: Arial;
  background-color: #44b189;
  width: 100%;
}

/* Navbar.js */
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D0FFE3;
  padding: 0 5rem 0 8rem;
  height: 100px;
  align-items: center;
}
.nav-left{
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.nav-right{
  flex: .72;
  display: flex;
  gap: 6rem;
}
.logo img{
  border-radius: 500px;
  padding-top: 10px;
  height: 80px;
  width: 100%;
  object-fit: cover;
}
.nav-items {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}
.nav-items li {
  list-style: none;
}
.nav-items li a{
  text-decoration: none;
  color: #59D089;
  cursor: pointer;
}
.nav-items li a:hover{
  color: orange;
}
.login_btn{
  padding: 10px 25px;
  background-color: #44b189;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  transition: transform 0.2 ease;
  cursor: pointer;
}
.login_btn:hover{
  transform: scale(1.05);
}
.login_btn:active{
  transform: scale(0.95);
}
.searchbox{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox-input{
  height: 30px;
  flex: 1;
  border-radius: 8px;
  border: none;
  padding: 3px 20px;
  outline: none;
}
/* .searchbox-input:focus{
  outline: 2px solid rgb(25, 212, 8);
} */
.search-btn{
  background: white;
  border-radius: 8px;
  margin-left: -8px;
  border: none;
  border-left: .5px solid black;
}
.search-icon{
  height: 30px;
}
.toggle-btn{
  display: none;
  cursor: pointer;
}
.line{
  height: 3px;
  width: 30px;
  background-color: black;
  margin-bottom: 4px;
}
.dropdown_menu{
  position: absolute;
  right: 6rem;
  top: 129px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 240px;
}
.dropdown_menu li{
  list-style: none;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_menu li a{
  text-decoration: none;
  color: wheat;
  cursor: pointer;
}
.dropdown_menu li a:hover{
  font-weight: bold;
}
.dropdown_menu .login_btn{
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 992px) {
  .login_btn, .nav-items{
    display: none;
  }
  .toggle-btn{
    display: block;
  }
  
  .dropdown_menu{
    display: block;
  }
}

@media(max-width: 576px) {
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}


/* Hero.js */
.hero_img {
  position: absolute;
  width: 432px;
  height: 400px;
  left: 143px;
  top: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse{
  background: #429677;
  border-radius: 50%;
}
.ellipse1{
  position: absolute;
  width: 71.31px;
  height: 230.7px;
  left: 30px;
  top: 125px; 
  transform: rotate(50deg);
}
.ellipse2{
  position: absolute;
  width: 79.47px;
  height: 229.44px;
  left: 30px;
  top: 215px;
  transform: rotate(70deg);
}
.ellipse3{
  position: absolute;
  width: 82px;
  height: 218px;
  left: 30px;
  top: 287px;
  transform: rotate(110deg);
}
.ellipse4{
  position: absolute;
  width: 74.68px;
  height: 224.98px;
  left: -25px;
  top: 374px;
  transform: rotate(-19.49deg);
}
.ellipse5{
  position: absolute;
  width: 178px;
  height: 65px;
  left: 495px;
  top: 520px;
  transform: rotate(-180deg);
  z-index: -1;
}
.ellipse6{
  position: absolute;
  width: 178px;
  height: 65px;
  left: 452px;
  top: 570px;
  transform: rotate(-139deg);
  z-index: -1;
}
.ellipse7{
  position: absolute;
  width: 178px;
  height: 65px;
  left: 410px;
  top: 600px;
  transform: rotate(-95deg);
  z-index: -1;
}
.hero_text{
  width: 30rem;
  position: absolute;
  right: 70px;
  top: 200px;
}
.text_line{
  color: white;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
}
.text_content{
  color: white;
  font-size: 16px;
  margin-top: 20px;
  line-height: 25px;
}
.quiz-btn{
  margin-top: 10px;
  padding: 10px 25px;
  border: none;
  color: #429677;
  border-radius: 35px;
  font-size: 28px;
}
.quiz-btn:hover{
  cursor: pointer;
  background: transparent;
  color: white;
  border: 2px solid white;
  transition: 0.2s ease-in-out;
  transition: transform 0.2s ease;
}
.quiz-btn:active{
  transform: scale(1.05);
}


/* ChatBody.js */
.chat-body{
  display: flex;
  flex-direction: column;
  background-color: #D0FFE3;
  width: 100%;
  height: 100vh;
}
.chat-section{
  padding: 30px 60px;
}
.user-msg{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-chats{
  display: flex;
  flex-direction: row;
  float: right;
  gap: 2rem;
}
.bot-chats{
  display: flex;
  flex-direction: column;
  align-items: left;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-end;
  padding-bottom: 1rem;
}
.u-chat{
  padding: 10px 20px;
  background-color: #59D089;
  width: max-content;
  border-radius: 8px 0 8px 8px;
  cursor: pointer;
  color: white;
}

.selected{
  background-color: #429677;
}
.u-img{
  border-radius: 30px;
  height: 40px; 
  width: 45px;
  border: 2px solid #00502b;
  object-fit: cover;
}
.bot-img{
  border-radius: 30px 3px 30px 30px;
  height: 40px; 
  width: 45px;
  border: 2px solid #00502b;
  object-fit: cover;
}
.bot-chats p{
  padding: 10px 20px;
  border-bottom: 3px solid gray;
  background-color: white;
  width: max-content;
  border-radius: 8px 8px 8px 0;
}
.prompt{
  margin-top: 80vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 78%;
  height: fit-content;
  margin-bottom: 0;
  margin-left: 18rem;
}
.start-btn{
  background-color: #429677;
  color: white;
  flex: 0.1;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.start-btn:active{
  background-color: #388d6e;
}
.prompt-input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 2px 40px;
  background: #E9E9E9;
}
.send-btn{
  padding-right: 20px;
}
.send-img{
  padding-right: 10px;
  cursor: pointer;
}
.send-img:active{
  transform: translate(2px);
}

